/* html {
  font-size: 62.5%;
}
 */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.kbd-navigation .square:focus {
  background: #ddd;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 90vh;
  margin-top:30px;
  margin-bottom: 10px;
  overflow-y: scroll;
  /* position: relative; */
}

.calc-display {
  /* width: 40%; */
  width: 18rem;
  /* height: 22%; */
  height: 8rem;
  min-height: 7rem;
  padding-left: 30px;
  margin: 10px auto;
  background: rgb(175,189,198);
  font-size: 2.0rem;
  overflow-x: scroll;
  border: 1px solid #999;
  
}

.calc-display p:nth-of-type(1) {
  margin-top: 0.3em;
  /* padding: 0; */
  margin-bottom: 0.1em;
}

.calc-display p:nth-of-type(2) {
  margin-top: 0.1em;
  padding: 0;
  margin-bottom: 0.3em;
}


.keypad {
  border: 2px solid #999;
}

.calc-row:after {
  clear: both;
  content: "";
  display: table;
}

  
.square {
  /* background: #fff; */
  background: lightgray;
  border: 1px solid #999;
  float: left;
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 4.5rem;
  height: 4.5rem;
  min-height: 4rem;
  /* margin-right: -1px;
  margin-top: -1px; */
  margin-right: 0px;
  margin-top: 0px;
  padding: 0;
  text-align: center;
  width: 5rem;
}

.double {
  width: 10rem;
}

.square:focus {
  outline: none;
}

@media (max-width: 37.5em) {
  body {
    padding: 0;
    margin: 0;
  }

  .calculator {
    
    margin-top: 20px;
    margin-bottom: 10px;
    /* max-height:35rem; */
  }

    
  .calc-display {
    /* width: 40%; */
    width: 15.0rem;
    /* height: 18%; */
    height: 6.5rem;
    min-height: 6.5rem;
    padding-left: 12px;
    margin: 6px auto;
    font-size: 1.5rem;

  }

        
  .square {
    font-size: 2.0rem;
    font-weight: bold;
    line-height: 4rem;
    height: 4rem;
    width: 4rem;
  }

  .double {
    width: 8rem;
  }
  
}




@media (max-width: 37.5em) and (max-height: 28.1em) {

  .calculator {
   
    margin-top: 10px;
    margin-bottom: 5px;
    /* max-height:35rem; */
  }

    
  .calc-display {
    width: 11.5rem;
    height: 6.5rem;
    min-height: 6.5rem;
    font-size: 1.3rem;

  }
  .calc-display p:nth-of-type(1) {
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.1rem;
  }
  
  .calc-display p:nth-of-type(2) {
    margin-top: 0.5rem;
    line-height: 1.3rem;
  }
       
  .square {
  
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 3rem;
    height: 3rem;
    min-height: 3rem;
    width: 3rem;
  }

  .double {
    width: 6rem;
  }
  
}